# Before you start :
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the IronHack database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [1]:
# import libraries here
import sqlalchemy
import pymysql
from sqlalchemy import create_engine
import pandas as pd

# Challenge 1

#### In this challenge we will use the `Temp_States`  database. 

#### First import it into a data frame called `temp`.

In [2]:
# your answer here
driver = 'mysql+pymysql'
ip = '35.239.232.23'
username = 'ironhacker_read'
password = 'ir0nhack3r'
db = 'temp_states'

cs  = f'{driver}://{username}:{password}@{ip}/{db}'
engine = create_engine(cs)
Ssql = 'SELECT * FROM temp_states'
temp = pd.read_sql(Ssql,engine)

#### Print `temp`

In [3]:
temp

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444
5      Treton   New Jersey    22.222222
6      Newark   New Jersey    20.000000

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [4]:
# your answer here
temp.dtypes

City            object
State           object
Temperature    float64
dtype: object

#### Select the rows where state is New York

In [6]:
# your answer here
temp[temp['State'] == 'New York']

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

#### What is the average of the temperature of cities in New York?

In [7]:
# your answer here
temp[temp['State'] == 'New York'].mean()

Temperature    10.740741
dtype: float64

#### We want to know cities and states with Temperature above 15 degress Celcius

In [10]:
# your answer here
temp[['City','State']][temp['Temperature']>15].reset_index(drop=True)

       City        State
0       NYC     New York
1  Hartford  Connecticut
2    Treton   New Jersey
3    Newark   New Jersey

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [11]:
# your answer here
temp[['City']][temp['Temperature']>15].reset_index(drop=True)

       City
0       NYC
1  Hartford
2    Treton
3    Newark

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [27]:
# your answer here
temp[['City']][(temp.Temperature > 15) & (temp.Temperature < 20)]

       City
0       NYC
3  Hartford

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [25]:
# your answer here
temp.groupby('State').mean()

             Temperature
State
Connecticut    15.833333
New Jersey     21.111111
New York       10.740741

# Challenge 2

#### Load the `employees` database into a DataFrame. Call the dataframe `employees`

In [28]:
# your answer here
driver = 'mysql+pymysql'
ip = '35.239.232.23'
username = 'ironhacker_read'
password = 'ir0nhack3r'
db = 'employees'

cs  = f'{driver}://{username}:{password}@{ip}/{db}'
engine = create_engine(cs)
Ssql = 'SELECT * FROM employees'
employees = pd.read_sql(Ssql,engine)

#### Explore the data types of the Temp dataframe. Comment your results

In [29]:
# your answer here
employees.dtypes

Name          object
Department    object
Education     object
Gender        object
Title         object
Years          int64
Salary         int64
dtype: object

#### What's the average salary in this company?

In [37]:
# your answer here
int(round(employees[['Salary']].mean()*1000))

48889

#### What's the highest salary?

In [38]:
# your answer here
int(round(employees[['Salary']].max()*1000))

70000

#### What's the lowest salary?

In [39]:
# your answer here
int(round(employees[['Salary']].min()*1000))

30000

#### Who are the employees with the lowest salary?

In [16]:
# your answer here

#### Could you give all the information about an employee called David?

In [40]:
# your answer here
employees[employees.Name == 'David']

    Name Department Education Gender    Title  Years  Salary
2  David         HR    Master      M  analyst      2      30

#### Could you give only David's salary?

In [51]:
# your answer here
int(round(employees['Salary'][employees.Name == 'David']*1000))

30000

#### Print all the rows where job title is associate

In [52]:
# your answer here
employees[employees.Title == 'associate']

     Name Department Education Gender      Title  Years  Salary
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
7   Pedro         IT       Phd      M  associate      7      60

#### Print the first 3 rows of your dataframe

##### Tip : There are 2 ways to do it. Do it both ways

In [53]:
# your answer here- 1 method
employees.head(3)

    Name Department Education Gender    Title  Years  Salary
0   Jose         IT  Bachelor      M  analyst      1      35
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

In [55]:
# your answer here- 2nd method
employees[employees.index < 3]

    Name Department Education Gender    Title  Years  Salary
0   Jose         IT  Bachelor      M  analyst      1      35
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

#### Find the employees who's title is associate and the salary above 55?

In [56]:
# your answer here
employees[(employees.Title == 'associate') & (employees.Salary >55)]

    Name Department Education Gender      Title  Years  Salary
7  Pedro         IT       Phd      M  associate      7      60

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [59]:
# your answer here
employees.groupby('Years').mean()

          Salary
Years
1      35.000000
2      38.333333
3      55.000000
4      35.000000
7      60.000000
8      70.000000

####  What is the average Salary per title?

In [63]:
# your answer here
employees.groupby('Title').mean()

           Years     Salary
Title
VP          8.00  70.000000
analyst     2.25  32.500000
associate   4.00  56.666667

####  What are the Salary quartiles?

In [64]:
# print first quartile here
employees[['Salary']].quantile(q=0.25)

Salary    35.0
Name: 0.25, dtype: float64

In [65]:
# print third quartile here
employees[['Salary']].quantile(q=0.75)

Salary    60.0
Name: 0.75, dtype: float64

#### Is the mean salary per gender different?

In [66]:
# your answer here
employees.groupby('Gender').mean()

        Years  Salary
Gender
F         4.0    47.5
M         4.2    50.0

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

In [30]:
# your answer here

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

In [32]:
# your answer here

# Challenge 3

#### Open the Orders dataset. Name your dataset orders

In [68]:
# your answer here
driver = 'mysql+pymysql'
ip = '35.239.232.23'
username = 'ironhacker_read'
password = 'ir0nhack3r'
db = 'orders'

cs  = f'{driver}://{username}:{password}@{ip}/{db}'
engine = create_engine(cs)
Ssql = 'SELECT * FROM orders'
orders = pd.read_sql(Ssql,engine)

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [71]:
# your answer here
orders.dtypes

index             int64
InvoiceNo         int64
StockCode        object
year              int64
month             int64
day               int64
hour              int64
Description      object
Quantity          int64
InvoiceDate      object
UnitPrice       float64
CustomerID        int64
Country          object
amount_spent    float64
dtype: object

In [74]:
# your answer here
orders.head()

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

####  What is the average Purchase Price?

In [75]:
# your answer here
orders['amount_spent'].mean()

22.39474850474768

#### What were the highest and lowest purchase prices?

In [76]:
# your answer here
orders['amount_spent'].max()

168469.6

In [77]:
# your answer here
orders['amount_spent'].min()

0.0

#### Select all the customers we have in Spain

In [91]:
# your answer here
orders[['CustomerID']][orders.Country == 'Spain'].groupby('CustomerID').max()

Empty DataFrame
Columns: []
Index: [12354, 12417, 12421, 12442, 12445, 12448, 12450, 12454, 12455, 12462, 12484, 12502, 12507, 12510, 12538, 12539, 12540, 12541, 12544, 12545, 12546, 12547, 12548, 12550, 12551, 12556, 12557, 12596, 12597, 17097]

#### How many customers do we have in Spain?
##### Hint : Use value_counts() method

In [101]:
# your answer here
orders['CustomerID'][orders.Country == 'Spain'].reset_index(drop=True).value_counts()

12540    478
12484    346
12539    273
17097    211
12597    206
12502    147
12556    121
12546     69
12462     62
12354     58
12550     57
12541     52
12545     50
12455     48
12421     45
12510     33
12557     33
12596     27
12417     23
12507     22
12448     22
12538     21
12544     19
12454     15
12442     12
12551     10
12547      8
12450      8
12548      5
12445      4
Name: CustomerID, dtype: int64

#### Select all the customers who have bought more than 50 items ?

In [112]:
# your answer here
c = orders[['CustomerID','Quantity']].groupby('CustomerID').sum()
c[c['Quantity'] > 50]

            Quantity
CustomerID
12346          74215
12347           2458
12348           2341
12349            631
12350            197
12352            536
12354            530
12355            240
12356           1591
12357           2708
12358            248
12359           1622
12360           1165
12361             91
12362           2229
12363            408
12364           1506
12365            174
12367            173
12370           2353
12371            591
12372            794
12373            197
12374            342
12375            178
12377            944
12378           2529
12379            407
12380           1127
12381            808
...              ...
18240            126
18241           1051
18242           1017
18245           1788
18246            166
18248            511
18249            128
18250            199
18251           7824
18252            239
18255             74
18257           1041
18259            714
18260           1478
18261            146
18262            182
18263           1468
18265            311
18269             76
18270            101
18272           2050
18273             80
18274             88
18276            186
18277             68
18278             66
18281             54
18282            103
18283           1397
18287           1586

[4091 rows x 1 columns]

#### Select orders from Spain that are above 50 items

In [113]:
# your answer here
orders[(orders.Country == 'Spain') & (orders.Quantity > 50)]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
4250,4250,536944,22383,2010,12,5,12,lunch bag suki design,70,2010-12-03 12:20:00,1.65,12557,Spain,115.50
4251,4251,536944,22384,2010,12,5,12,lunch bag pink polkadot,100,2010-12-03 12:20:00,1.45,12557,Spain,145.00
4252,4252,536944,20727,2010,12,5,12,lunch bag black skull.,60,2010-12-03 12:20:00,1.65,12557,Spain,99.00
4253,4253,536944,20725,2010,12,5,12,lunch bag red retrospot,70,2010-12-03 12:20:00,1.65,12557,Spain,115.50
4254,4254,536944,20728,2010,12,5,12,lunch bag cars blue,100,2010-12-03 12:20:00,1.45,12557,Spain,145.00
32454,32454,540785,84997B,2011,1,2,11,red 3 piece retrospot cutlery set,144,2011-01-11 11:39:00,3.39,12557,Spain,488.16
32455,32455,540785,84997D,2011,1,2,11,pink 3 piece polkadot cutlery set,360,2011-01-11 11:39:00,3.39,12557,Spain,1220.40
32456,32456,540785,84997C,2011,1,2,11,blue 3 piece polkadot cutlery set,360,2011-01-11 11:39:00,3.39,12557,Spain,1220.40
32457,32457,540785,84997A,2011,1,2,11,green 3 piece polkadot cutlery set,144,2011-01-11 11:39:00,3.39,12557,Spain,488.16
91155,91155,547972,22383,2011,3,1,16,lunch bag suki design,150,2011-03-28 16:41:00,1.45,12557,Spain,217.50
91156,91156,547972,22384,2011,3,1,16,lunch bag pink polkadot,150,2011-03-28 16:41:00,1.45,12557,Spain,217.50
91159,91159,547972,20728,2011,3,1,16,lunch bag cars blue,150,2011-03-28 16:41:00,1.45,12557,Spain,217.50
174442,174442,558871,22384,2011,7,1,13,lunch bag pink polkadot,100,2011-07-04 13:19:00,1.45,12557,Spain,145.00
174443,174443,558871,20727,2011,7,1,13,lunch bag black skull.,100,2011-07-04 13:19:00,1.45,12557,Spain,145.00
174444,174444,558871,20725,2011,7,1,13,lunch bag red retrospot,100,2011-07-04 13:19:00,1.45,12557,Spain,145.00
174445,174445,558871,20728,2011,7,1,13,lunch bag cars blue,100,2011-07-04 13:19:00,1.45,12557,Spain,145.00
174446,174446,558871,84997B,2011,7,1,13,childrens cutlery retrospot red,72,2011-07-04 13:19:00,3.75,12557,Spain,270.00
174447,174447,558871,84997D,2011,7,1,13,childrens cutlery polkadot pink,360,2011-07-04 13:19:00,3.75,12557,Spain,1350.00
174448,174448,558871,84997C,2011,7,1,13,childrens cutlery polkadot blue,360,2011-07-04 13:19:00,3.75,12557,Spain,1350.00
174449,174449,558871,84997A,2011,7,1,13,childrens cutlery polkadot green,72,2011-07-04 13:19:00,3.75,12557,Spain,270.00
197167,197167,561669,23295,2011,7,4,17,set of 12 mini loaf baking cases,128,2011-07-28 17:09:00,0.72,12507,Spain,92.16
197168,197168,561669,23297,2011,7,4,17,set 40 heart shape petit four cases,144,2011-07-28 17:09:00,1.45,12507,Spain,208.80
197169,197169,561669,23294,2011,7,4,17,set of 6 snack loaf baking cases,128,2011-07-28 17:09:00,0.72,12507,Spain,92.16
197170,197170,561669,23296,2011,7,4,17,set of 6 tea time baking cases,128,2011-07-28 17:09:00,1.04,12507,Spain,133.12
197171,197171,561669,23293,2011,7,4,17,set of 12 fairy cake baking cases,128,2011-07-28 17:09:00,0.72,12507,Spain,92.16
224881,224881,564734,84826,2011,8,7,13,asstd design 3d paper stickers,60,2011-08-28 13:32:00,0.85,12484,Spain,51.00
254097,254097,567968,85204,2011,9,5,9,hanging wood and felt flower,96,2011-09-23 09:44:00,0.12,12546,Spain,11.52
289129,289129,571255,82494L,2011,10,5,17,wooden frame antique white,72,2011-10-14 17:13:00,2.55,12454,Spain,183.60
289134,289134,571255,82482,2011,10,5,17,wooden picture frame white finish,72,2011-10-14 17:13:00,2.55,12454,Spain,183.60
289142,289142,571255,72802B,2011,10,5,17,ocean scent candle in jewelled box,200,2011-10-14 17:13:00,1.25,12454,Spain,250.00
289143,289143,571255,72802C,2011,10,5,17,vanilla scent candle jewelled box,288,2011-10-14 17:13:00,1.25,12454,Spain,360.00
295956,295956,571851,23167,2011,10,3,13,small ceramic top storage jar,96,2011-10-19 13:02:00,0.69,12596,Spain,66.24
312655,312655,573362,22598,2011,10,7,13,christmas musical zinc tree,72,2011-10-30 13:06:00,0.29,12597,Spain,20.88
312656,312656,573362,22597,2011,10,7,13,musical zinc heart decoration,72,2011-10-30 13:06:00,0.29,12597,Spain,20.88
312657,312657,573362,22599,2011,10,7,13,christmas musical zinc star,72,2011-10-30 13:06:00,0.29,12597,Spain,20.88
366326,366326,578321,20728,2011,11,3,16,lunch bag cars blue,200,2011-11-23 16:59:00,1.45,12557,Spain,290.00
366327,366327,578321,84997B,2011,11,3,16,childrens cutlery retrospot red,72,2011-11-23 16:59:00,3.75,12557,Spain,270.00
366328,366328,578321,84997D,2011,11,3,16,childrens cutlery polkadot pink,360,2011-11-23 16:59:00,3.75,12557,Spain,1350.00
366329,366329,578321,84997C,2011,11,3,16,childrens cutlery polkadot blue,288,2011-11-23 16:59:00,3.75,12557,Spain,1080.00

#### Select all free orders

In [114]:
# your answer here
orders[orders.amount_spent == 0]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
6914,6914,537197,22841,2010,12,7,14,round cake tin vintage green,1,2010-12-05 14:02:00,0.0,12647,Germany,0.0
22539,22539,539263,22580,2010,12,4,14,advent calendar gingham sack,4,2010-12-16 14:36:00,0.0,16560,United Kingdom,0.0
25379,25379,539722,22423,2010,12,2,13,regency cakestand 3 tier,10,2010-12-21 13:45:00,0.0,14911,EIRE,0.0
29080,29080,540372,22090,2011,1,4,16,paper bunting retrospot,24,2011-01-06 16:41:00,0.0,13081,United Kingdom,0.0
29082,29082,540372,22553,2011,1,4,16,plasters in tin skulls,24,2011-01-06 16:41:00,0.0,13081,United Kingdom,0.0
34494,34494,541109,22168,2011,1,4,15,organiser wood antique white,1,2011-01-13 15:10:00,0.0,15107,United Kingdom,0.0
53788,53788,543599,84535B,2011,2,4,13,fairy cakes notebook a6 size,16,2011-02-10 13:08:00,0.0,17560,United Kingdom,0.0
85671,85671,547417,22062,2011,3,3,10,ceramic bowl with love heart design,36,2011-03-23 10:25:00,0.0,13239,United Kingdom,0.0
92875,92875,548318,22055,2011,3,3,12,mini cake stand hanging strawbery,5,2011-03-30 12:45:00,0.0,13113,United Kingdom,0.0
97430,97430,548871,22162,2011,4,1,14,heart garland rustic padded,2,2011-04-04 14:42:00,0.0,14410,United Kingdom,0.0
107192,107192,550188,22636,2011,4,4,18,childs breakfast set circus parade,1,2011-04-14 18:57:00,0.0,12457,Switzerland,0.0
128641,128641,553000,47566,2011,5,4,15,party bunting,4,2011-05-12 15:21:00,0.0,17667,United Kingdom,0.0
137127,137127,554037,22619,2011,5,5,14,set of 6 soldier skittles,80,2011-05-20 14:13:00,0.0,12415,Australia,0.0
194648,194648,561284,22167,2011,7,2,12,oval wall mirror diamante,1,2011-07-26 12:24:00,0.0,16818,United Kingdom,0.0
197173,197173,561669,22960,2011,7,4,17,jam making set with jars,11,2011-07-28 17:09:00,0.0,12507,Spain,0.0
199711,199711,561916,M,2011,8,1,11,manual,1,2011-08-01 11:44:00,0.0,15581,United Kingdom,0.0
208950,208950,562973,23157,2011,8,4,11,set of 6 nativity magnets,240,2011-08-11 11:42:00,0.0,14911,EIRE,0.0
223931,223931,564651,23270,2011,8,5,14,set of 2 ceramic painted hearts,96,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223932,223932,564651,23268,2011,8,5,14,set of 2 ceramic christmas reindeer,192,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223933,223933,564651,22955,2011,8,5,14,36 foil star cake cases,144,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223934,223934,564651,21786,2011,8,5,14,polkadot rain hat,144,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
256263,256263,568158,PADS,2011,9,7,12,pads to match all cushions,1,2011-09-25 12:22:00,0.0,16133,United Kingdom,0.0
259399,259399,568384,M,2011,9,2,9,manual,1,2011-09-27 09:46:00,0.0,12748,United Kingdom,0.0
273926,273926,569716,22778,2011,10,4,8,glass cloche small,2,2011-10-06 08:17:00,0.0,15804,United Kingdom,0.0
286507,286507,571035,M,2011,10,4,12,manual,1,2011-10-13 12:50:00,0.0,12446,RSA,0.0
307092,307092,572893,21208,2011,10,3,14,pastel colour honeycomb fan,5,2011-10-26 14:36:00,0.0,18059,United Kingdom,0.0
319882,319882,574138,23234,2011,11,4,11,biscuit tin vintage christmas,216,2011-11-03 11:26:00,0.0,12415,Australia,0.0
320049,320049,574175,22065,2011,11,4,11,christmas pudding trinket pot,12,2011-11-03 11:47:00,0.0,14110,United Kingdom,0.0
320407,320407,574252,M,2011,11,4,13,manual,1,2011-11-03 13:24:00,0.0,12437,France,0.0
322279,322279,574469,22385,2011,11,5,11,jumbo bag spaceboy design,12,2011-11-04 11:55:00,0.0,12431,Australia,0.0
328385,328385,574879,22625,2011,11,1,13,red kitchen scales,2,2011-11-07 13:22:00,0.0,13014,United Kingdom,0.0
329006,329006,574920,22899,2011,11,1,16,children s apron dolly girl,1,2011-11-07 16:34:00,0.0,13985,United Kingdom,0.0
329007,329007,574920,23480,2011,11,1,16,mini lights woodland mushrooms,1,2011-11-07 16:34:00,0.0,13985,United Kingdom,0.0
334242,334242,575579,22437,2011,11,4,11,set of 9 black skull balloons,20,2011-11-10 11:49:00,0.0,13081,United Kingdom,0.0
334243,334243,575579,22089,2011,11,4,11,paper bunting vintage paisley,24,2011-11-10 11:49:00,0.0,13081,United Kingdom,0.0
352746,352746,577129,22464,2011,11,4,19,hanging metal heart lantern,4,2011-11-17 19:52:00,0.0,15602,United Kingdom,0.0
353097,353097,577168,M,2011,11,5,10,manual,1,2011-11-18 10:42:00,0.0,12603,Germany,0.0
354170,354170,577314,23407,2011,11,5,13,set of 2 trays home sweet home,2,2011-11-18 13:23:00,0.0,12444,Norway,0.0
358629,358629,577696,M,2011,11,1,11,manual,1,2011-11-21 11:57:00,0.0,16406,United Kingdom,0.0
370473,370473,578841,84826,2011,11,5,15,asstd design 3d paper stickers,12540,2011-11-25 15:57:00,0.0,13256,United Kingdom,0.0

#### Select all orders that are 'lunch bag'
#### Hint: Use string functions

In [132]:
# your answer here
orders[orders.apply(lambda x: x['Description'].find('lunch bag') > -1, axis=1)]

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
93,93,536378,20725,2010,12,3,9,lunch bag red retrospot,10,2010-12-01 09:37:00,1.65,14688,United Kingdom,16.50
172,172,536385,22662,2010,12,3,9,lunch bag dolly girl design,10,2010-12-01 09:56:00,1.65,17420,United Kingdom,16.50
354,354,536401,22662,2010,12,3,11,lunch bag dolly girl design,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65
359,359,536401,20725,2010,12,3,11,lunch bag red retrospot,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65
360,360,536401,22382,2010,12,3,11,lunch bag spaceboy design,2,2010-12-01 11:21:00,1.65,15862,United Kingdom,3.30
361,361,536401,20726,2010,12,3,11,lunch bag woodland,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65
362,362,536401,22384,2010,12,3,11,lunch bag pink polkadot,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65
402,402,536404,22383,2010,12,3,11,lunch bag suki design,10,2010-12-01 11:29:00,1.65,16218,United Kingdom,16.50
403,403,536404,20728,2010,12,3,11,lunch bag cars blue,10,2010-12-01 11:29:00,1.65,16218,United Kingdom,16.50
404,404,536404,20727,2010,12,3,11,lunch bag black skull.,10,2010-12-01 11:29:00,1.65,16218,United Kingdom,16.50
532,532,536412,20728,2010,12,3,11,lunch bag cars blue,3,2010-12-01 11:49:00,1.65,17920,United Kingdom,4.95
533,533,536412,22382,2010,12,3,11,lunch bag spaceboy design,3,2010-12-01 11:49:00,1.65,17920,United Kingdom,4.95
535,535,536412,22662,2010,12,3,11,lunch bag dolly girl design,4,2010-12-01 11:49:00,1.65,17920,United Kingdom,6.60
536,536,536412,22383,2010,12,3,11,lunch bag suki design,3,2010-12-01 11:49:00,1.65,17920,United Kingdom,4.95
537,537,536412,20727,2010,12,3,11,lunch bag black skull.,3,2010-12-01 11:49:00,1.65,17920,United Kingdom,4.95
605,605,536412,20725,2010,12,3,11,lunch bag red retrospot,1,2010-12-01 11:49:00,1.65,17920,United Kingdom,1.65
1414,1414,536542,22382,2010,12,3,14,lunch bag spaceboy design,10,2010-12-01 14:11:00,1.65,16456,United Kingdom,16.50
1415,1415,536542,20727,2010,12,3,14,lunch bag black skull.,10,2010-12-01 14:11:00,1.65,16456,United Kingdom,16.50
1416,1416,536542,22383,2010,12,3,14,lunch bag suki design,20,2010-12-01 14:11:00,1.65,16456,United Kingdom,33.00
1748,1748,536576,20727,2010,12,3,16,lunch bag black skull.,60,2010-12-01 16:11:00,1.45,13777,United Kingdom,87.00
1758,1758,536577,20725,2010,12,3,16,lunch bag red retrospot,60,2010-12-01 16:13:00,1.45,13777,United Kingdom,87.00
1771,1771,536579,20727,2010,12,3,16,lunch bag black skull.,60,2010-12-01 16:16:00,1.45,13777,United Kingdom,87.00
1926,1926,536597,22384,2010,12,3,17,lunch bag pink polkadot,1,2010-12-01 17:35:00,1.65,18011,United Kingdom,1.65
1935,1935,536597,20726,2010,12,3,17,lunch bag woodland,1,2010-12-01 17:35:00,1.65,18011,United Kingdom,1.65
2334,2334,536634,20727,2010,12,4,11,lunch bag black skull.,20,2010-12-02 11:21:00,1.65,18041,United Kingdom,33.00
2529,2529,536643,22662,2010,12,4,11,lunch bag dolly girl design,2,2010-12-02 11:57:00,1.65,14390,United Kingdom,3.30
2676,2676,536698,22382,2010,12,4,12,lunch bag spaceboy design,10,2010-12-02 12:28:00,1.65,15363,United Kingdom,16.50
3059,3059,536754,22384,2010,12,4,14,lunch bag pink polkadot,3,2010-12-02 14:09:00,1.65,14449,United Kingdom,4.95
3060,3060,536754,20727,2010,12,4,14,lunch bag black skull.,3,2010-12-02 14:09:00,1.65,14449,United Kingdom,4.95
3064,3064,536754,22383,2010,12,4,14,lunch bag suki design,5,2010-12-02 14:09:00,1.65,14449,United Kingdom,8.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396300,396300,581412,20726,2011,12,4,14,lunch bag woodland,2,2011-12-08 14:38:00,1.65,14415,United Kingdom,3.30
396301,396301,581412,20725,2011,12,4,14,lunch bag red retrospot,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95
396302,396302,581412,23583,2011,12,4,14,lunch bag paisley park,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95
396303,396303,581412,20727,2011,12,4,14,lunch bag black skull.,1,2011-12-08 14:38:00,1.65,14415,United Kingdom,1.65
396307,396307,581412,23583,2011,12,4,14,lunch bag paisley park,2,2011-12-08 14:38:00,1.65,14415,United Kingdom,3.30
396308,396308,581412,20727,2011,12,4,14,lunch bag black skull.,3,2011-12-08 14:38:00,1.65,14415,United Kingdom,4.95
396408,396408,581413,23208,2011,12,4,14,lunch bag vintage leaf design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50
396414,396414,581413,22662,2011,12,4,14,lunch bag dolly girl design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50
396416,396416,581413,22382,2011,12,4,14,lunch bag spaceboy design,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50
396419,396419,581413,20727,2011,12,4,14,lunch bag black skull.,10,2011-12-08 14:39:00,1.65,16833,United Kingdom,16.50
396530,396530,581418,23681,2011,12,4,15,lunch bag red vintage doily,10,2011-12-08 15:02:00,1.65,17451,United Kingdom,16.50
396572,396572,581420,23207,2011,12,4,15,lunch bag alphabet design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396573,396573,581420,20726,2011,12,4,15,lunch bag woodland,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396574,396574,581420,23209,2011,12,4,15,lunch bag vintage doily,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396575,396575,581420,23208,2011,12,4,15,lunch bag vintage leaf design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396576,396576,581420,22382,2011,12,4,15,lunch bag spaceboy design,10,2011-12-08 15:09:00,1.65,16358,United Kingdom,16.50
396721,396721,581426,23206,2011,12,4,15,lunch bag apple design,1,2011-12-08 15:31:00,1.65,17757,United Kingdom,1.65
396970,396970,581450,20725,2011,12,4,17,lunch bag red retrospot,1,2011-12-08 17:54:00,1.65,16794,United Kingdom,1.65
396971,396971,581450,23206,2011,12,4,17,lunch bag apple design,2,2011-12-08 17:54:00,1.65,16794,United Kingdom,3.30
396972,396972,581450,23209,2011,12,4,17,lunch bag vintage doily,4,2011-12-08 17:54:00,1.65,16794,United Kingdom,6.60
397006,397006,581451,23583,2011,12,4,17,lunch bag paisley park,10,2011-12-08 17:57:00,1.65,17144,United Kingdom,16.50
397038,397038,581453,22383,2011,12,4,18,lunch bag suki design,10,2011-12-08 18:15:00,1.65,16401,United Kingdom,16.50
397047,397047,581453,23583,2011,12,4,18,lunch bag paisley park,10,2011-12-08 18:15:00,1.65,16401,United Kingdom,16.50
397255,397255,581473,23207,2011,12,4,19,lunch bag alphabet design,2,2011-12-08 19:57:00,1.65,12748,United Kingdom,3.30
397298,397298,581474,20726,2011,12,4,20,lunch bag woodland,1,2011-12-08 20:01:00,1.65,12748,United Kingdom,1.65
397465,397465,581486,23207,2011,12,5,9,lunch bag alphabet design,10,2011-12-09 09:38:00,1.65,17001,United Kingdom,16.50
397713,397713,581538,20727,2011,12,5,11,lunch bag black skull.,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65
397714,397714,581538,20725,2011,12,5,11,lunch bag red retrospot,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65
397877,397877,581581,23681,2011,12,5,12,lunch bag red vintage doily,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.50
397880,397880,581583,20725,2011,12,5,12,lunch bag red retrospot,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.00

#### Select all orders that are made in 2011 and are 'lunch bag'

In [ ]:
# your answer here

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your answer here

#### Select all orders made in the month of August

In [ ]:
# your answer here

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

In [ ]:
# your answer here

#### What's the  average amount of money spent by country

In [ ]:
# your answer here

#### What's the most expensive item?

In [ ]:
# your answer here

#### What was the average amount spent per year ?

In [ ]:
# your answer here